@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ZIP Browser</h1>
    <p>Enter an URL like:
        <code>/Files/SiaZip/AABJA6f1a395ffnJOjrbV-EAJX-IIHqVJWTpKkq56MsE5w?path=x.txt</code>
        where the hash points to a ZIP file at SkyNet blockchain.</p>
</div>
